In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns=50

### Criando dataframe de base no MySQL

In [2]:
from sqlalchemy import create_engine

In [3]:
# Configurar a conexão com o banco de dados MySQL
engine = create_engine('mysql://root:API3lux**@localhost/database_api3')

In [4]:
# Consulta SQL para selecionar todas as linhas da tabela desejada
query = "SELECT * FROM historico_rotas"

In [5]:
# Consulta SQL para selecionar todas as linhas da tabela desejada
query2 = "SELECT * FROM demanda_anual_clientes_cif"

In [6]:
# Consulta SQL para selecionar todas as linhas da tabela desejada
query3 = "SELECT * FROM capacidade_anual_fabricas"

In [7]:
# Carregar os dados do MySQL em um DataFrame do pandas
df_real = pd.read_sql(query, con=engine)
df_demanda = pd.read_sql(query2, con=engine)
df_producao = pd.read_sql(query3, con=engine)

In [8]:
# Exibir as primeiras linhas do DataFrame
df_demanda.head(2)

  CO.Cliente  demanda_anual_incoterm
0       2301            2.119334e+06
1       2302            4.637416e+05

### Tratando base real histórica

In [9]:
# filtrando Incoterm CIF
df_real_hist=df_real.loc[df_real['Incoterm']=='CIF'].reset_index()

In [10]:
# escolhendo colunas
df_real_hist=df_real_hist[['Mes.Base', 'Ano.Exec', 'Incoterm', 'Qtd.Transp','Vlr.Frete','CO.Cliente','CO.Fabrica','km_api']]

In [11]:
# criando rota fabrica-cliente 
df_real_hist['rota_fabrica_cliente']=df_real_hist['CO.Fabrica']+ ' - ' +df_real_hist['CO.Cliente']

In [12]:
# criando rota fabrica-cliente 
df_real_hist['custo_unit_medio']=df_real_hist['Vlr.Frete']/df_real_hist['Qtd.Transp']

In [13]:
df_real_hist.loc[df_real_hist['rota_fabrica_cliente']=='3423909 - 2311']

,Mes.Base,Ano.Exec,Incoterm,Qtd.Transp,Vlr.Frete,CO.Cliente,CO.Fabrica,km_api,rota_fabrica_cliente,custo_unit_medio
0,1,2023,CIF,2400,441.58,2311,3423909,71.15,3423909 - 2311,0.183992
1,1,2023,CIF,1500,355.54,2311,3423909,71.15,3423909 - 2311,0.237027
2,1,2023,CIF,1500,359.13,2311,3423909,71.15,3423909 - 2311,0.239420
3,1,2023,CIF,1500,359.13,2311,3423909,71.15,3423909 - 2311,0.239420
4,1,2023,CIF,1500,355.54,2311,3423909,71.15,3423909 - 2311,0.237027
...,...,...,...,...,...,...,...,...,...,...
639,11,2023,CIF,1500,552.70,2311,3423909,71.15,3423909 - 2311,0.368467
640,11,2023,CIF,1500,552.70,2311,3423909,71.15,3423909 - 2311,0.368467
641,11,2023,CIF,1500,552.70,2311,3423909,71.15,3423909 - 2311,0.368467
642,11,2023,CIF,1500,552.70,2311,3423909,71.15,3423909 - 2311,0.368467
643,12,2023,CIF,1500,552.70,2311,3423909,71.15,3423909 - 2311,0.368467

In [14]:
# Calcular frete médio de cada rota
df_rota_custo_medio = df_real_hist.groupby('rota_fabrica_cliente')['custo_unit_medio'].mean().reset_index()

In [15]:
# Renomear a coluna para mesclar mais tarde
df_rota_custo_medio.rename(columns={'custo_unit_medio': 'custo_unit_rota'}, inplace=True)

In [16]:
# Calcular frete mínimo de cada rota
df_rota_custo_min = df_real_hist.groupby('rota_fabrica_cliente')['custo_unit_medio'].min().reset_index()

In [17]:
# Renomear a coluna para mesclar mais tarde
df_rota_custo_min.rename(columns={'custo_unit_medio': 'custo_min_rota'}, inplace=True)

In [18]:
# Calcular frete máximo de cada rota
df_rota_custo_max = df_real_hist.groupby('rota_fabrica_cliente')['custo_unit_medio'].max().reset_index()

In [19]:
# Renomear a coluna para mesclar mais tarde
df_rota_custo_max.rename(columns={'custo_unit_medio': 'custo_max_rota'}, inplace=True)

In [20]:
df_rota_custo_max.head(2)

  rota_fabrica_cliente  custo_max_rota
0       3403208 - 2301        0.663367
1       3403208 - 2302        0.630207

In [21]:
df_real_hist = df_real_hist.merge(df_rota_custo_medio, on='rota_fabrica_cliente', how='left')
df_real_hist = df_real_hist.merge(df_rota_custo_min, on='rota_fabrica_cliente', how='left')
df_real_hist = df_real_hist.merge(df_rota_custo_max, on='rota_fabrica_cliente', how='left')

In [22]:
df_real_hist.head(2)

,Mes.Base,Ano.Exec,Incoterm,Qtd.Transp,Vlr.Frete,CO.Cliente,CO.Fabrica,km_api,rota_fabrica_cliente,custo_unit_medio,custo_unit_rota,custo_min_rota,custo_max_rota
0,1,2023,CIF,2400,441.58,2311,3423909,71.15,3423909 - 2311,0.183992,0.266462,0.183992,0.368467
1,1,2023,CIF,1500,355.54,2311,3423909,71.15,3423909 - 2311,0.237027,0.266462,0.183992,0.368467

In [23]:
# Agrupando e agregando por múltiplas colunas
df_real_hist_anual = df_real_hist.groupby(['CO.Cliente', 'CO.Fabrica', 'rota_fabrica_cliente']).agg({
    'Qtd.Transp': 'sum',
    'Vlr.Frete' :'sum',
    'custo_unit_rota': 'mean',
    'custo_min_rota' : 'mean',
    'custo_max_rota' : 'mean',
    'km_api': 'mean'
}).reset_index()

In [24]:
df_real_hist_anual.loc[df_real_hist_anual['rota_fabrica_cliente']=='3423909 - 2311']

,CO.Cliente,CO.Fabrica,rota_fabrica_cliente,Qtd.Transp,Vlr.Frete,custo_unit_rota,custo_min_rota,custo_max_rota,km_api
25,2311,3423909,3423909 - 2311,1068900,278295.03,0.266462,0.183992,0.368467,71.15

## Cenários de Otimização

### Otimista

#### Cenário Otimista 23
O cenário otimista é calculado usando o menor custo/unid encontrado em uma rota historicamente dentro da base real

In [25]:
from pulp import *

In [26]:
# Definir as capacidades das fábricas
capacidades = df_producao.set_index('CO.Fabrica')['Producao'].to_dict()

# Definir as demandas dos clientes
demandas = df_demanda.set_index('CO.Cliente')['demanda_anual_incoterm'].to_dict()

In [27]:
# Definir os custos unitários de transporte
custos = {}
for i in df_real_hist_anual['CO.Fabrica'].unique():
    for j in df_real_hist_anual['CO.Cliente'].unique():
        custo_unit = df_real_hist_anual.loc[(df_real_hist_anual['CO.Fabrica'] == i) & (df_real_hist_anual['CO.Cliente'] == j)]['custo_min_rota'].values
        if custo_unit.size == 0:
            custo_unit = [None]  # Define como None para indicar ausência de rota
        custos[(i, j)] = custo_unit[0]

In [28]:
# Criar o problema de otimização
prob = LpProblem("Custo_Minimo", LpMinimize)

In [29]:
# Definir as variáveis de decisão
quantidades = LpVariable.dicts("Quantidade", [(i, j) for i in capacidades for j in demandas], 0, None, cat='Continuous')
usa_rota = LpVariable.dicts("UsaRota", [(i, j) for i in capacidades for j in demandas], 0, 1, cat='Binary')

In [30]:
# Definir um grande número (M) para restringir a quantidade enviada
M = sum(capacidades.values())

In [31]:
# Definir a função objetivo
prob += lpSum(quantidades[i, j] * custos[i, j] for i in capacidades for j in demandas if custos[i, j] is not None)

In [32]:
# Adicionar as restrições de capacidade das fábricas
for i in capacidades:
    prob += lpSum(quantidades[i, j] for j in demandas) <= capacidades[i], f"Capacidade_{i}"

In [33]:
# Adicionar as restrições de demanda dos clientes
for j in demandas:
    prob += lpSum(quantidades[i, j] for i in capacidades) == demandas[j], f"Demanda_{j}"

In [34]:
# Adicionar restrições para garantir que quantidades sejam zero onde não há rota
for i in capacidades:
    for j in demandas:
        if custos[(i, j)] is None:
            prob += quantidades[i, j] == 0, f"SemRota_{i}_{j}"
        else:
            prob += quantidades[i, j] <= M * usa_rota[i, j], f"Rota_{i}_{j}"
            prob += usa_rota[i, j] <= 1

In [35]:
# Resolver o problema
prob.solve()

1

In [36]:
# Exibir o status da solução
print(f"Status: {LpStatus[prob.status]}")

Status: Optimal

In [37]:
resultados = []

quantidade_total = 0
for i in capacidades:
    for j in demandas:
        quantidade = quantidades[i, j].varValue
        custo_unitario = custos[i, j]
        
        # Calcular o valor do frete
        valor_frete = quantidade * custo_unitario if custo_unitario is not None else 0
        quantidade_total += quantidade
        
        # Selecionar outros valores com base na rota
        demanda = df_demanda.loc[df_demanda['CO.Cliente']== j, 'demanda_anual_incoterm'].values[0]
        producao = df_producao.loc[df_producao['CO.Fabrica']== i, 'Producao'].values[0]
        
        resultados.append({
            'CO.Fabrica': i,
            'CO.Cliente': j,
            'rota_fabrica_cliente' : f'{i} - {j}',
            'custo_min_rota_23': custo_unitario,
            'demanda_anual_incoterm' : demanda,
            'Producao' : producao,
            'Qtd.Transp_Otim_23_Otimista': quantidade,
            'Vlr.Frete_Otim_23_Otimista': valor_frete
        })

# Criar o DataFrame com os resultados
df_resultados = pd.DataFrame(resultados)

In [38]:
# Exibir o custo total pela otimização
print(f"Custo total Otimizado Cenário Otimista: {value(prob.objective)}")

Custo total Otimizado Cenário Otimista: 27409955.321391128

In [39]:
# Exibir a quantidade total otimização
print(f"Quantidade total Otimizada: {quantidade_total}")

Quantidade total Otimizada: 116370386.68640001

#### Cenário Otimista 24
O cenário otimista 24 é calculado usando o menor custo/unid encontrado em uma rota historicamente dentro da base 23, acrescido de 5%

In [40]:
# Agrupando e agregando por múltiplas colunas
df_anual_24 = df_real_hist.groupby(['CO.Cliente', 'CO.Fabrica', 'rota_fabrica_cliente']).agg({
    'custo_unit_rota': 'mean',
    'custo_min_rota' : 'mean',
    'custo_max_rota' : 'mean',
    'km_api': 'mean'
}).reset_index()

In [41]:
df_anual_24.head(2)

,CO.Cliente,CO.Fabrica,rota_fabrica_cliente,custo_unit_rota,custo_min_rota,custo_max_rota,km_api
0,2301,3403208,3403208 - 2301,0.565885,0.456437,0.663367,193.55
1,2301,3424402,3424402 - 2301,0.427135,0.217056,0.707593,145.62

In [42]:
df_anual_24['custo_min_rota_24'] = df_anual_24['custo_min_rota']*1.05

In [43]:
# Definir os custos unitários de transporte
custos24 = {}
for i in df_anual_24['CO.Fabrica'].unique():
    for j in df_anual_24['CO.Cliente'].unique():
        custo_unit24 = df_anual_24.loc[(df_anual_24['CO.Fabrica'] == i) & (df_anual_24['CO.Cliente'] == j)]['custo_min_rota_24'].values
        if custo_unit24.size == 0:
            custo_unit24 = [None]  # Define como None para indicar ausência de rota
        custos24[(i, j)] = custo_unit24[0]

In [44]:
# Criar o problema de otimização
prob24 = LpProblem("Custo_Minimo", LpMinimize)

In [45]:
# Definir as variáveis de decisão
quantidades24 = LpVariable.dicts("Quantidade", [(i, j) for i in capacidades for j in demandas], 0, None, cat='Continuous')
usa_rota24 = LpVariable.dicts("UsaRota", [(i, j) for i in capacidades for j in demandas], 0, 1, cat='Binary')

In [46]:
# Definir um grande número (M) para restringir a quantidade enviada
M24 = sum(capacidades.values())

In [47]:
# Definir a função objetivo
prob24 += lpSum(quantidades24[i, j] * custos24[i, j] for i in capacidades for j in demandas if custos24[i, j] is not None)

In [48]:
# Adicionar as restrições de capacidade das fábricas
for i in capacidades:
    prob24 += lpSum(quantidades24[i, j] for j in demandas) <= capacidades[i], f"Capacidade_{i}"

In [49]:
# Adicionar as restrições de demanda dos clientes
for j in demandas:
    prob24 += lpSum(quantidades24[i, j] for i in capacidades) == demandas[j], f"Demanda_{j}"

In [50]:
# Adicionar restrições para garantir que quantidades sejam zero onde não há rota
for i in capacidades:
    for j in demandas:
        if custos24[(i, j)] is None:
            prob24 += quantidades24[i, j] == 0, f"SemRota_{i}_{j}"
        else:
            prob24 += quantidades24[i, j] <= M * usa_rota24[i, j], f"Rota_{i}_{j}"
            prob24 += usa_rota24[i, j] <= 1

In [51]:
# Resolver o problema
prob24.solve()

1

In [52]:
# Exibir o status da solução
print(f"Status: {LpStatus[prob24.status]}")

Status: Optimal

In [53]:
resultados24 = []

quantidade_total24 = 0
for i in capacidades:
    for j in demandas:
        # Quantidades e custos otimizados da base simulada
        quantidade24 = quantidades24[i, j].varValue
        custo_unitario24 = custos24[i, j]
        
        # Calcular o valor do frete para a nova otimização
        valor_frete24 = quantidade24 * custo_unitario24 if custo_unitario24 is not None else 0
        quantidade_total24 += quantidade24
        
        # Selecionar outros valores com base na rota
        demanda24 = df_demanda.loc[df_demanda['CO.Cliente'] == j, 'demanda_anual_incoterm'].values[0]
        producao24 = df_producao.loc[df_producao['CO.Fabrica'] == i, 'Producao'].values[0]
        
        resultados24.append({
            'CO.Fabrica': i,
            'CO.Cliente': j,
            'rota_fabrica_cliente' : f'{i} - {j}',
            'custo_min_rota_24': custo_unitario24,
            'demanda_anual_incoterm' : demanda24,
            'Producao' : producao24,
            'Qtd.Transp_Otim_24_Otimista': quantidade24,
            'Vlr.Frete_Otim_24_Otimista': valor_frete24
        })

# Criar o DataFrame com os resultados da nova otimização
df_resultados24 = pd.DataFrame(resultados24)

In [54]:
df_resultados24.head(2)

,CO.Fabrica,CO.Cliente,rota_fabrica_cliente,custo_min_rota_24,demanda_anual_incoterm,Producao,Qtd.Transp_Otim_24_Otimista,Vlr.Frete_Otim_24_Otimista
0,3403208,2301,3403208 - 2301,0.479259,2.119334e+06,90000000,0.0,0.0
1,3403208,2302,3403208 - 2302,0.284888,4.637416e+05,90000000,0.0,0.0

In [55]:
# Exibir o custo total pela otimização
print(f"Custo total Otimizado 23 Otimista: {value(prob.objective)}")

Custo total Otimizado 23 Otimista: 27409955.321391128

In [56]:
# Exibir o custo total pela otimização
print(f"Custo total Otimizado 24 Otimista: {value(prob24.objective)}")

Custo total Otimizado 24 Otimista: 28780453.08746068

In [57]:
# Exibir a quantidade total otimização
print(f"Quantidade total Otimizada 24: {quantidade_total}")

Quantidade total Otimizada 24: 116370386.68640001

### Pessimista

#### Cenário Pessimista 23
O cenário otimista é calculado usando o maior custo/unid encontrado em uma rota historicamente dentro da base real

In [58]:
# Definir os custos unitários de transporte
custos = {}
for i in df_real_hist_anual['CO.Fabrica'].unique():
    for j in df_real_hist_anual['CO.Cliente'].unique():
        custo_unit = df_real_hist_anual.loc[(df_real_hist_anual['CO.Fabrica'] == i) & (df_real_hist_anual['CO.Cliente'] == j)]['custo_max_rota'].values
        if custo_unit.size == 0:
            custo_unit = [None]  # Define como None para indicar ausência de rota
        custos[(i, j)] = custo_unit[0]

In [59]:
# Criar o problema de otimização
prob = LpProblem("Custo_Minimo", LpMinimize)

In [60]:
# Definir as variáveis de decisão
quantidades = LpVariable.dicts("Quantidade", [(i, j) for i in capacidades for j in demandas], 0, None, cat='Continuous')
usa_rota = LpVariable.dicts("UsaRota", [(i, j) for i in capacidades for j in demandas], 0, 1, cat='Binary')

In [61]:
# Definir um grande número (M) para restringir a quantidade enviada
M = sum(capacidades.values())

In [62]:
# Definir a função objetivo
prob += lpSum(quantidades[i, j] * custos[i, j] for i in capacidades for j in demandas if custos[i, j] is not None)

In [63]:
# Adicionar as restrições de capacidade das fábricas
for i in capacidades:
    prob += lpSum(quantidades[i, j] for j in demandas) <= capacidades[i], f"Capacidade_{i}"

In [64]:
# Adicionar as restrições de demanda dos clientes
for j in demandas:
    prob += lpSum(quantidades[i, j] for i in capacidades) == demandas[j], f"Demanda_{j}"

In [65]:
# Adicionar restrições para garantir que quantidades sejam zero onde não há rota
for i in capacidades:
    for j in demandas:
        if custos[(i, j)] is None:
            prob += quantidades[i, j] == 0, f"SemRota_{i}_{j}"
        else:
            prob += quantidades[i, j] <= M * usa_rota[i, j], f"Rota_{i}_{j}"
            prob += usa_rota[i, j] <= 1

In [66]:
# Resolver o problema
prob.solve()

1

In [67]:
# Exibir o status da solução
print(f"Status: {LpStatus[prob.status]}")

Status: Optimal

In [68]:
resultados = []

quantidade_total = 0
for i in capacidades:
    for j in demandas:
        quantidade = quantidades[i, j].varValue
        custo_unitario = custos[i, j]
        
        # Calcular o valor do frete
        valor_frete = quantidade * custo_unitario if custo_unitario is not None else 0
        quantidade_total += quantidade
        
        # Selecionar outros valores com base na rota
        demanda = df_demanda.loc[df_demanda['CO.Cliente']== j, 'demanda_anual_incoterm'].values[0]
        producao = df_producao.loc[df_producao['CO.Fabrica']== i, 'Producao'].values[0]
        
        resultados.append({
            'CO.Fabrica': i,
            'CO.Cliente': j,
            'rota_fabrica_cliente' : f'{i} - {j}',
            'custo_max_rota_23': custo_unitario,
            'demanda_anual_incoterm' : demanda,
            'Producao' : producao,
            'Qtd.Transp_Otim_23_Pessimista': quantidade,
            'Vlr.Frete_Otim_23_Pessimista': valor_frete
        })

# Criar o DataFrame com os resultados
df_resultados = pd.DataFrame(resultados)

In [69]:
# Exibir o custo total pela otimização
print(f"Custo total Otimizado Cenário Pessimista: {value(prob.objective)}")

Custo total Otimizado Cenário Pessimista: 55308663.942027435

#### Cenário Pessimista 24
O cenário pessimista 24 é calculado usando o maior custo/unid encontrado em uma rota historicamente dentro da base 23, acrescido de 5%

In [70]:
# Agrupando e agregando por múltiplas colunas
df_anual_24 = df_real_hist.groupby(['CO.Cliente', 'CO.Fabrica', 'rota_fabrica_cliente']).agg({
    'custo_unit_rota': 'mean',
    'custo_min_rota' : 'mean',
    'custo_max_rota' : 'mean',
    'km_api': 'mean'
}).reset_index()

In [71]:
df_anual_24.head(2)

,CO.Cliente,CO.Fabrica,rota_fabrica_cliente,custo_unit_rota,custo_min_rota,custo_max_rota,km_api
0,2301,3403208,3403208 - 2301,0.565885,0.456437,0.663367,193.55
1,2301,3424402,3424402 - 2301,0.427135,0.217056,0.707593,145.62

In [72]:
df_anual_24['custo_max_rota_24'] = df_anual_24['custo_max_rota']*1.05

In [73]:
# Definir os custos unitários de transporte
custos24 = {}
for i in df_anual_24['CO.Fabrica'].unique():
    for j in df_anual_24['CO.Cliente'].unique():
        custo_unit24 = df_anual_24.loc[(df_anual_24['CO.Fabrica'] == i) & (df_anual_24['CO.Cliente'] == j)]['custo_max_rota_24'].values
        if custo_unit24.size == 0:
            custo_unit24 = [None]  # Define como None para indicar ausência de rota
        custos24[(i, j)] = custo_unit24[0]

In [74]:
# Criar o problema de otimização
prob24 = LpProblem("Custo_Minimo", LpMinimize)

In [75]:
# Definir as variáveis de decisão
quantidades24 = LpVariable.dicts("Quantidade", [(i, j) for i in capacidades for j in demandas], 0, None, cat='Continuous')
usa_rota24 = LpVariable.dicts("UsaRota", [(i, j) for i in capacidades for j in demandas], 0, 1, cat='Binary')

In [76]:
# Definir um grande número (M) para restringir a quantidade enviada
M24 = sum(capacidades.values())

In [77]:
# Definir a função objetivo
prob24 += lpSum(quantidades24[i, j] * custos24[i, j] for i in capacidades for j in demandas if custos24[i, j] is not None)

In [78]:
# Adicionar as restrições de capacidade das fábricas
for i in capacidades:
    prob24 += lpSum(quantidades24[i, j] for j in demandas) <= capacidades[i], f"Capacidade_{i}"

In [79]:
# Adicionar as restrições de demanda dos clientes
for j in demandas:
    prob24 += lpSum(quantidades24[i, j] for i in capacidades) == demandas[j], f"Demanda_{j}"

In [80]:
# Adicionar restrições para garantir que quantidades sejam zero onde não há rota
for i in capacidades:
    for j in demandas:
        if custos24[(i, j)] is None:
            prob24 += quantidades24[i, j] == 0, f"SemRota_{i}_{j}"
        else:
            prob24 += quantidades24[i, j] <= M * usa_rota24[i, j], f"Rota_{i}_{j}"
            prob24 += usa_rota24[i, j] <= 1

In [81]:
# Resolver o problema
prob24.solve()

1

In [82]:
# Exibir o status da solução
print(f"Status: {LpStatus[prob24.status]}")

Status: Optimal

In [83]:
resultados24 = []

quantidade_total24 = 0
for i in capacidades:
    for j in demandas:
        # Quantidades e custos otimizados da base simulada
        quantidade24 = quantidades24[i, j].varValue
        custo_unitario24 = custos24[i, j]
        
        # Calcular o valor do frete para a nova otimização
        valor_frete24 = quantidade24 * custo_unitario24 if custo_unitario24 is not None else 0
        quantidade_total24 += quantidade24
        
        # Selecionar outros valores com base na rota
        demanda24 = df_demanda.loc[df_demanda['CO.Cliente'] == j, 'demanda_anual_incoterm'].values[0]
        producao24 = df_producao.loc[df_producao['CO.Fabrica'] == i, 'Producao'].values[0]
        
        resultados24.append({
            'CO.Fabrica': i,
            'CO.Cliente': j,
            'rota_fabrica_cliente' : f'{i} - {j}',
            'custo_max_rota_24': custo_unitario24,
            'demanda_anual_incoterm' : demanda24,
            'Producao' : producao24,
            'Qtd.Transp_Otim_24_Pessimista': quantidade24,
            'Vlr.Frete_Otim_24_Pessimista': valor_frete24
        })

# Criar o DataFrame com os resultados da nova otimização
df_resultados24 = pd.DataFrame(resultados24)

In [84]:
df_resultados24.head(2)

,CO.Fabrica,CO.Cliente,rota_fabrica_cliente,custo_max_rota_24,demanda_anual_incoterm,Producao,Qtd.Transp_Otim_24_Pessimista,Vlr.Frete_Otim_24_Pessimista
0,3403208,2301,3403208 - 2301,0.696535,2.119334e+06,90000000,2119333.6,1.476190e+06
1,3403208,2302,3403208 - 2302,0.661717,4.637416e+05,90000000,0.0,0.000000e+00

In [85]:
# Exibir o custo total pela otimização
print(f"Custo total Otimizado 23 Pessimista: {value(prob.objective)}")

Custo total Otimizado 23 Pessimista: 55308663.942027435

In [86]:
# Exibir o custo total pela otimização
print(f"Custo total Otimizado 24 Pessimista: {value(prob24.objective)}")

Custo total Otimizado 24 Pessimista: 58074097.139128804

In [87]:
# Exibir a quantidade total otimização
print(f"Quantidade total Otimizada 24: {quantidade_total}")

Quantidade total Otimizada 24: 116370386.68640001

## Salvando bases SQL

In [ ]:
df_resultados.head(2)

In [ ]:
# Salvar o DataFrame no MySQL
df_resultados.to_sql('cenario_pessimista_rotas_anual_otimizado_23', con=engine, if_exists='replace', index=False)

print("DataFrame salvo no MySQL com sucesso!")